#todoList-div{
    width: 450px;
    height: 775px;
    margin: 0 auto;
    text-align: center;

    background: #FEF38D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

#todoList-date{
    position: relative;
    width: 225px;
    height: 36px;
    margin: 0 auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #422E17;
}

.addTodoList{
    width: 394px;
    height: 54px;

    background: #B0995D;
    border-radius: 5px 5px 20px 20px;
}

.closeTextArea{
    width: 394px;
    height: 54px;
    margin: 0 auto;
    
    background: #B0995D;
    border-radius: 5px 5px 20px 20px;
    transform: rotate(180deg);
}

#textArea{
    width: 394px;
    height: 371px;
    margin: 0 auto;

    background: #B0995D;
    border-radius: 5px 5px 20px 20px;
}

.hidden{
    display: none;
}

#todoTitle{
    box-sizing: border-box;

    width: 342px;
    height: 41px;
    margin: 0 auto;
    margin-bottom: 10px;
    
    background: #B0995D;
    border: 1px solid #422E17;
    border-radius: 10px 10px 3px 3px;
}

#todoTitle input{
    width: 290px;
    height: 30px;
    border: none;
    background: #B0995D;
}

#todoContent{
    box-sizing: border-box;

    width: 342px;
    height: 285px;
    margin: 0 auto;
    
    background: #B0995D;
    border: 1px solid #422E17;
    border-radius: 10px 10px 3px 3px;
}

#todoContent input{
    width: 320px;
    height: 250px;

    background: #B0995D;
    border: none;
}

#saveTodoBtn{
    position: relative;
    width: 26px;
    height: 25px;
    top: 5px;

    background: #422E17;
    border-radius: 3px;
}

#deleteTodoBtn{
    position: relative;
    width: 14px;
    height: 0px;
    top: 10px;
    left: 170px;

    border: 1px solid #B0995D;
    transform: rotate(90deg);
}

#deleteTodoBtn img{
    transform: rotate(270deg);
}

li{
    list-style: none;
    text-align: left;
}

ul{
    height: 640px;
}

#changedUL{
    height: 240px;
}