<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BananaPlanner-Homepage</title>
    <link rel="stylesheet" type="text/css" href="./CSS/homepage.css">
</head>
<body>
    <header>
        <img src="./img/hompage/title-BananaPlanner.png"/>
        
    </header>
    <main>
        <section>
            <div class="banner">
                <img src="./img/hompage/banner-BananaPlanner.png"/>
            </div>
            <div class="buttons">
                <a href="./login.html">
                    <img src="./img/hompage/button-start.png"/>
                </a>
            </div>
        </section>
        <section>
            <img src="./img/hompage/introduce01.png"/>
        </section>
        <section>
            <img src="./img/hompage/introduce02.png"/>
        </section>
        <section>
            <img src="./img/hompage/introduce03.png"/>
        </section>
        <section>
            <div class="banner">
                <img src="./img/hompage/banner-BananaPlanner-ver2.png"/>
            </div>
            <div class="buttons">
            <a href="./index.html">
                <img src="./img/hompage/button-start.png"/>
            </a>
        </div>
        </section>
    </main>
    <footer>
        <img src="./img/hompage/footer-BananaPlanner.png"/>
    </footer>
</body>
</html>
